@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap");
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  color: #665f60;
  min-height: 100%;
  background-color: #ebebeb; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

.header-navigation {
  padding: 35px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-navigation__items {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    min-width: 50%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none; }
  .header-navigation__link {
    margin: 0 15px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 500;
    font-size: 2.4rem; }

.icon {
  display: inline-block;
  width: 100%;
  height: auto; }

.icon-AboutUs {
  background-image: url(../img/sprite.png);
  background-position: -58px -72px;
  width: 50px;
  height: 54px; }

.icon-Graphic {
  background-image: url(../img/sprite.png);
  background-position: -176px -61px;
  width: 47px;
  height: 61px; }

.icon-Mobile {
  background-image: url(../img/sprite.png);
  background-position: -226px 0px;
  width: 36px;
  height: 61px; }

.icon-SEO {
  background-image: url(../img/sprite.png);
  background-position: -176px 0px;
  width: 50px;
  height: 61px; }

.icon-Services {
  background-image: url(../img/sprite.png);
  background-position: -54px 0px;
  width: 62px;
  height: 60px; }

.icon-Team {
  background-image: url(../img/sprite.png);
  background-position: -116px 0px;
  width: 60px;
  height: 60px; }

.icon-Web {
  background-image: url(../img/sprite.png);
  background-position: 0px -72px;
  width: 58px;
  height: 59px; }

.icon-Works {
  background-image: url(../img/sprite.png);
  background-position: -42px -131px;
  width: 40px;
  height: 60px; }

.icon-form {
  background-image: url(../img/sprite.png);
  background-position: 0px -131px;
  width: 42px;
  height: 60px; }

.icon-logo {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 54px;
  height: 72px; }

.main {
  padding: 400px 0 500px;
  height: 100vh;
  background-size: 100% 108%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #9f9acf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #fff; }
  .main__title {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 7.2rem;
    line-height: 1;
    margin: 0 0 40px 0; }
  .main__text {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic; }

.about {
  padding: 125px 0 125px; }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.about-card {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 380px;
  max-height: 555px;
  background-color: #9f9acf;
  text-align: center;
  padding: 80px 0 0 0; }
  .about-card__title {
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 3.6rem; }

.btn {
  display: inline-block;
  padding: 17px;
  width: 196px;
  border: 1px solid transparent;
  text-decoration: none;
  color: inherit;
  text-align: center;
  line-height: 1;
  margin: 0 auto; }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    -o-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    -o-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    -o-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    -o-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    -o-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    -o-animation-direction: normal, alternate;
    animation-direction: normal, alternate; }

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-o-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-o-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  -o-transition-property: box-shadow, -o-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform, -o-transform; }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.about-description {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
  text-align: center; }
  .about-description__text {
    margin: 70px 0 100px; }
    .about-description__text p {
      margin: 0;
      text-align: left;
      font-size: 2rem;
      line-height: 1.2; }
      .about-description__text p:first-child {
        margin-bottom: 40px; }
  .about-description__btn {
    border-color: #7d7a7c; }

.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.services__grid-item {
  padding: 100px 65px 140px;
  text-align: center; }
  .services__grid-item--1 {
    grid-area: 1 / 1 / 2 / 2; }
  .services__grid-item--2 {
    grid-area: 2 / 1 / 3 / 2; }
  .services__grid-item--3 {
    grid-area: 1 / 2 / 2 / 3; }
  .services__grid-item--4 {
    grid-area: 2 / 2 / 3 / 3; }
  .services__grid-item--5 {
    grid-area: 1 / 3 / 3 / 4; }
  .services__grid-item--lg {
    background-color: #9f9acf;
    padding: 115px 20px 0;
    color: #fff;
    background-size: cover; }
    .services__grid-item--lg blockquote {
      font-style: italic;
      margin: 0;
      font-size: 1.8rem;
      quotes: "“" "”"; }
      .services__grid-item--lg blockquote:before {
        content: open-quote; }
      .services__grid-item--lg blockquote:after {
        content: close-quote; }
    .services__grid-item--lg cite {
      font-weight: 700;
      font-style: normal;
      font-size: 1.8rem; }
  .services__grid-item--coloured {
    background-color: #dbdbdb; }

.services__title {
  margin: 30px 0 15px;
  text-transform: uppercase; }
  .services__title--h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 120px;
    line-height: 1.2; }

.services__text {
  margin: 0;
  font-style: italic;
  line-height: 1.2;
  font-size: 1.8rem; }

.works {
  text-align: center;
  background-color: #b6b2d7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0 60px; }
  .works__title {
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 3.6rem; }
  .works__wrap {
    max-width: 730px;
    max-height: 550px;
    background-color: #9f9acf;
    font-size: 0;
    margin: 0 auto; }
  .works__img {
    width: 100%;
    height: auto; }
  .works__btn {
    color: #fff;
    border-color: #fff;
    margin-top: 100px; }

.slick-arrow {
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  z-index: 1;
  top: 45%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-image 0.5s linear;
  -o-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  background-image: url("../img/arrow-circular-button.svg"); }
  .slick-arrow.slick-prev {
    left: -10%; }
  .slick-arrow.slick-next {
    right: -10%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .slick-arrow:hover, .slick-arrow:active {
    background-image: url("../img/arrow-circular-button-hover.svg"); }

.ourTeam {
  padding: 55px 0 100px;
  text-align: center; }
  .ourTeam__title {
    font-family: 'Proxima Nova',sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 190px; }
  .ourTeam__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .ourTeam__person {
    min-width: 350px;
    background-color: #fff;
    padding-top: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
  .ourTeam__person-wrap {
    width: 265px;
    height: 265px;
    border: 15px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 0%; }
  .ourTeam__person-name {
    font-family: 'Proxima Nova',sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0; }
  .ourTeam__person-position {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 400; }
  .ourTeam__person-socials {
    padding: 20px 0 20px;
    background-color: #9f9acf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .ourTeam__person-socials-link {
    text-decoration: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #fff;
    color: #9f9acf;
    text-align: center;
    margin-left: 25px; }
